html {
    margin-top: 0px !important;
}
*{
    box-sizing: border-box;
    
}
body{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}
a{
    text-decoration: none;
    color: #212121;
}
ul{
    list-style: none;
}
.container{
    max-width: 1400px;
    padding: 30px 10px;
    
    margin: 0 auto;
}
.header_block {
    position: relative;
    z-index: 2;
    color: #000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 18px 40px;
}
.title_logo{
    color: #000;
    font-weight: 700;
    font-size: 36px;
}
.burger{
    cursor: pointer;
    position: relative;
    width: 50px;
    margin-left: 0 auto;
    height: 20px;
}
.burger_href{
    transform: rotate(180deg);
}
.burger::before,
.burger::after{
    content: '';
    background-color: #000;
    height: 5px;
    position: absolute;
    width: 50%;
    left: 0;
    
}
.sub_inst .burger::before,
.sub_inst .burger::after{
    background-color: #fff;  
}
.command .burger::before,
.command .burger::after{
    background-color: #fff;  
}
.burger::before{
    top: 0;
    width: 50%;
}
.burger::after{
    bottom: -10px;
    width: 100%;
}
.burger span{
    position: absolute;
    background-color: #000;
    left: 0;transform: rotateX(10deg);
    width: 70%;
    height: 5px;
    top: 12px;

}
.sub_inst .burger span{
    background-color: #fff;

}
.command .burger span{
    background-color: #fff;

}
.info_block{
    height: 100%;
    width: 100%;
    background: radial-gradient(60.56% 60.56% at 50% 50%, rgba(0, 0, 0, 0.185) 0%, rgba(0, 0, 0, 0) 100%), #000000;
    opacity: 0.87;
    position: fixed;
    z-index: 3;
    transition: .3s;
    display: none;
    left: 0;

}
.info_block.active{
    top: 0;
    display: block;
}
.head_info{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}
.text_footer_block{
    transform: rotate(90deg);
}
.container_footer_block{
    padding: 0px 70px;
}
.info_header_title{
    font-size: 36px;
    color: #fff;
}
.information_text{
    position: relative;
    font-size: 25px;
}
.info_block .information_text{
    color: #fff;
}
.information_text:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    bottom:30px;
    right: 225px;
    background-color: #000;
    display: block;
}
.sub_inst .information_text:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    bottom:30px;
    right: 225px;
    background-color: #fff;
    display: block;
}
.back_button_block{
    padding-right: 30px;
    display: flex;
}
.text_back_block{
    padding-left: 15px;
    font-size: 30px;
    color: #fff;
}
.icon_info_block{
    padding-left: 15px;
}
.items_info{
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
}

.icon_back_block{
    cursor: pointer;
}


.href_menu{
    color: #fff;
    padding-top: 17px;
}
.logo_info_block{
    display: flex;
    justify-content: center;
}
.title_menu{
    font-size: 37px;
    color: #fff;
    padding-bottom: 60px;
}
.title_items_menu1,
.title_items_menu2,
.title_items_menu3,
.title_items_menu4{
        position: relative;
}
.title_items_menu1::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    top: 50px;
    left: 57px;
    color: #000;
    background-color: #fff;
    display: block;
}
.title_items_menu2::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    top: 50px;
    left: 70px;
    color: #000;
    background-color: #fff;
    display: block;
}
.title_items_menu3::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    top: 50px;
    left: 53px;
    color: #000;
    background-color: #fff;
    display: block;
}
.title_items_menu4::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    top: 50px;
    left: 85px;
    color: #000;
    background-color: #fff;
    display: block;
}
.items_menu{
    line-height: 40px;
}





.icons_block_info{
    text-align: center;
}
.footer_block{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 70px;
}
.icons_block_footer{
    display: flex;
    flex-direction: column;
}
.icon_footer_block{
    margin-top: 10px;
}







.title_exp{
font-weight: 700;
font-size: 32px;

padding-top: 120px;
}
.text_exp{
    max-width: 1000px;
    font-size: 30px;
}
.learn_more{
    font-size: 26px;
    padding-top: 20px;
}
.block_exp_numbers{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}
.title_block_number{
    font-size: 60px;
    border: 1px solid #000;
    border-width: 0px 0px 1px 0px;
}
.text_block_number{
    font-size: 24px;
    padding-top: 8px;
}
.block_number{
    margin-left: 0px;
    width: 235px;
}
.sub_inst{
    margin-top: 100px;;
    padding-top: 50px;
    background-color: #181818;
}
.sub_inst div{
    color: #fff;
}
.block_img_sub_inst{
    display: flex;

}
.img_sub_inst{
    margin-left: 20px;
    padding-top: 100px;
}


.title{
    font-weight: 700;
    font-size: 32px;
}
.wrapper_items_doing{
    padding-top: 30px;
}
.header_block_doing{
    display: flex;
    padding-bottom: 20px;
    border: 1px solid #000;
    border-width: 0px 0px 1px 0px;
}
.title_block_doing{
    padding-left: 15px;
    font-size: 24px;
}
.items_blocks_doing{
    display: flex;
    
}
.block_doing{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 30px;
}
.text_block_doing{
    max-width: 380px;
    padding-top: 10px;
}
.appl_title{
    padding-top: 20px;
    padding-bottom: 30px;
}
.sub_title_appl{
    font-size: 24px;
    
}
.items_inputs_appl{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.block_input_appl{
    display: flex;
    position: relative;
}
.block_input_appl input{
    margin-right: 15px;
    width: 40px;
}
.checkbox_label{
    padding-left: 30px;
    
}
.checkbox_input{
    appearance: none;
    position: absolute;
}
.checkbox_label::before{
    content: '';
    position: absolute;
    transition: .3s;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 1;
    left: 0;
    top: 0;
    border: 1px solid #000;
}
.checkbox_label::after{
    content: "";
    transition: .3s;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    width: 17px;
    height: 17px;
    background-color: #261FEC;
}
.checkbox_input:checked + .checkbox_label::before{
    background-color: green;
}
.title_form_appl{
    padding-top: 30px;
    font-size: 24px;
}
.application form{
    padding-top: 30px;
}
.head_inputs input{
     border: 1px solid;
     border-width: 0px 0px 1px 0px;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 400px;
   
}
.text_inputs_appl{
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.appl_footer_input{
    border: 1px solid;
    border-width: 0px 0px 1px 0px;
   margin-left: 20px;
   padding-bottom: 10px;
   width: 400px;
}
.href_btn_app{
    font-size: 30px;
}
.btn_app{
    font-size: 30px;
    margin-top: 30px;
}
.command{
    background-color: #181818;
}
.command div{
    color: #fff;
}
.command .information_text:after {
    background-color: #fff;
}
.command_title{
    padding-top: 30px;
}
.items_command{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.name_command{
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 15px;
}
.head_comapny{
    display: flex;
    justify-content: center;
    padding-top: 140px;

    padding-bottom: 30px;
}
.head_comapny img{
    margin-right: 50px;
}
.block_footer_company{
    display: flex;
    padding-bottom: 140px;
    justify-content: center;
    padding-top: 100px;
}
.block_footer_company img{
    padding-right: 50px;
}
.footer{
    background-color: #181818;
}
.block_img_footer{
    background-image: url(../img/footer1.jpg);
    background-repeat: no-repeat;
    font-size: 52px;
    font-weight: 700;
    height: 464px;
    text-align: center;
    padding-top: 170px;
    color:#fff;
}
.block_img_footer2{
    background-image: url(../img/footer2.jpg);
    background-repeat: no-repeat;
    font-size: 52px;
    height: 700px;
    width: 600px;
    text-align: center;
    padding-top: 170px;
    color:#fff;
    font-weight: 700;
}
.items_img_footer{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.footer div{
    color: #fff;
}
.title_footer{
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
}
.block_footer_ul{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.text_footer_menu{
    font-size: 37px;
    padding-bottom: 20px;
}
.href_link_footer{
    text-align: center;
    color: #fff;
    
}
.link_footer_menu{
    padding-top: 15px;
    text-align: center;
}
.logo_footer{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}
@media(max-width:1679px){
    .head_comapny img{
        margin-top: 50px;

    }
    .head_comapny{
        flex-wrap: wrap;
    }
}

@media(max-width:1605px){
    .block_footer_company{
        flex-wrap: wrap;
    }
    .block_footer_company img{
        margin-top: 50px;
    }
}
@media(max-width:1554px){
    .footer_block{
        padding-top: 50px;
    }
}
@media(max-width:1504px){
    .information_text::after{
        display: none;
    }
    .sub_inst .information_text:after {

        display: none;
    }
}
@media(max-width:1379px){
    .img_sub_inst{
        width: 370px;
    }
    .block_img_sub_inst {
        justify-content: space-between;
    }
}
@media(max-width:1313px){
    .command_img{
        width: 370px;
    }
}
@media(max-width:1287px){
    .items_img_footer{
        flex-wrap: wrap;
    }
    .href_block_img_footer{
        margin-top: 40px;
    }
}
@media(max-width:1218px){
    .img_sub_inst{
        width: 330px;
    }
}
@media(max-width:1150px){
    .command_img{
        width: 330px;
    }
}
@media(max-width:1032px){
    .command_img{
        width: 280px;
    }
}
@media(max-width:1085px){
    .img_sub_inst{
        width: 300px;
    }
}
@media(max-width:990px){
        .block_img_sub_inst{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:970px){
    .footer_block{
        padding-top: 50px;
    }
    .info_header_title {
        font-size: 32px;
    }
}
@media(max-width:940px){
    .text_block_number {
        font-size: 21px;
        padding-top: 8px;
    }
    .items_inputs_appl{
        flex-wrap: wrap;
        
    }
    .block_input_appl{
        margin-top: 20px;
    }
    .title_exp {
        font-size: 27px;
    }
    .text_exp {
        font-size: 25px;
    }

}
@media(max-width:895px){
    .items_command{
        flex-wrap: wrap;
        justify-content: center;
    }
    .block_command{
        margin-left: 30px;
        margin-top: 30px;
    }
}
@media(max-width:884px){
    .head_inputs input{
        margin-top: 30px;
    }
}
@media(max-width:852px){
    .block_footer_ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .text_footer_menu {
        text-align: center;
    }
}
@media(max-width:810px){
    .text_block_number {
        font-size: 18px;
        padding-top: 8px;
    }
    .title_block_number {
        font-size: 53px;
    }
    .header_block {
        padding: 18px 19px;
    }
    .items_blocks_doing{
        flex-wrap: wrap;
        justify-content: center;
    }
    .block_doing{
        padding-top: 50px;
    }
    .info_header_title {
        font-size: 29px;
    }
}
@media(max-width:756px){
    .footer_block{
        padding-top: 50px;
    }
    .header_block {
        padding: 18px 21px;
    }
}
@media(max-width:730px){
    .items_info {
        padding: 59px 48px;
    }
}
@media(max-width:670px){
    .title_exp {
 
        font-size: 23px;
        padding-top: 79px;
    }
    .text_exp {
        font-size: 25px;
    }
    .info_header_title {
        font-size: 24px;
    }
    .information_text {
        padding-left: 0px;
        font-size: 20px;
    }
    .items_info {
        padding: 58px 0px;
    }
    .icon_back_block {
        width: 20px;
    }
    .title_menu {
        font-size: 28px;
        padding-bottom: 20px;
    }
}
@media(max-width:630px){
    .information_text {
        font-size: 20px;
    }
    .block_img_footer2,
    .block_img_footer{
        width: 400px;
        height: 400px;
    }
    .title_footer{
        margin-top: 80px;
    }
}
@media(max-width:1000px){
    .items_info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo_info_block {
        padding-top: 70px;
    }
    .items_menu{
        padding-top: 15px;
    }
}
@media(max-width:978px){
    .title_items_menu1::after,
    .title_items_menu2::after,
    .title_items_menu3::after,
    .title_items_menu4::after{
        display: none;
    }
    .icon_back_block{
        width: 30px;
    }
}
@media(max-width:600px){
    .href_menu{
        display: none;
    }
    .text_back_block {
        font-size: 25px;

    }
    .info_header_title {
        font-size: 22px;
    }
    .icon_back_block{
        width: 20px;
    }
}
@media(max-width:560px){
    .information_text{
        display: none;
    }
    .sub_title_appl {
        font-size: 21px;
    }
    .doing_title{
        padding-top: 40px;
    }
    .title_block_number {
        font-size: 42px;
    }
    .text_exp {
        font-size: 20px;
    }
    .header_block {
        padding: 18px 0px;
    }
    .container_footer_block {
        padding: 0px 10px;
    
}
@media(max-width:553px){
    .text_back_block {
        display: none;
    }
}
@media(max-width:530px){
    .block_exp_numbers{
        flex-wrap: wrap;
    }
    .head_comapny {
        padding-top: 72px;
    }
    .block_footer_company {
        padding-bottom: 87px;
    }
    .title {
        font-size: 25px;
    }
}
@media(max-width:506px){
    .block_exp_numbers{
        justify-content: center;
    }
    .head_comapny img {
        width: 250px;
    }
    .href_btn_app {
        font-size: 20px;
    }
}
@media(max-width:470px){
    .items_inputs_appl{
        justify-content: center;
    }
    .title_menu{
        padding-left: 20px;
    }
    .block_input_appl{
        margin-left: 20px;
    }
    .appl_footer_input {
        width: 260px;
    }
    .title_form_appl {
        font-size: 20px;
    }
    .text_inputs_appl {
        font-size: 20px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .head_inputs input{
        width: 260px;
    }
    .block_footer_ul{
        flex-direction: column;
    }
    .footer_items_menu{
        padding-top: 30px;
    }
    .href_btn_app {
        font-size: 22px;
    }
}
@media(max-width:420px){
    .block_img_footer2,
    .block_img_footer {
        width: 340px;
        height: 362px;
    }
    .block_img_footer,
    .block_img_footer2 {
        padding-top: 100px;

    }
}
@media(max-width:380px){
    .title {
        font-size: 26px;
    }
    .block_command {
        margin-left: 0px;
    }
    .logo_info_block {
        padding-top: 0px;
    }
    .information_text {
        display: none;
    }
}
@media(max-width:362px){
    .block_img_footer2, .block_img_footer {
        width: 292px;
        height: 328px;
    }
    .block_img_footer {
        font-size: 31px;
    }
    .block_img_footer2 {

        font-size: 28px;
    }
}
@media(max-width:350px){
    .img_sub_inst {
        margin-left: 0px;
    }
    .img_sub_inst {
        width: 280px;
    }
    .text_footer_menu{
        text-align: center;
    }

    .block_footer_company img {
        width: 250px;
    }
    .head_comapny img {
        width: 210px;
    }
}
@media(max-width:310px){
    .command_img {
        width: 260px;
    }
    .head_inputs input {
        width: 218px;
    }
    .appl_footer_input {
        width: 218px;
    }
    .href_btn_app {
        font-size: 22px;
    }
    .block_img_footer2, .block_img_footer {
        width: 248px;
        padding-top: 117px;
        height: 291px;
    }
    .text_footer_menu {
        padding-top: 20px;
        font-size: 30px;
    }
}

@media(max-width:300px){
    .img_sub_inst {
        width: 240px;
    }
}